{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias hic maiores quod rerum, sint. Aut beatae
        corporis eius esse eum illo officia, possimus quo tempora temporibus totam voluptatem voluptates.
    </p>
{% endblock %}
