<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Under Construction</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ asset('styles/under-construction.css') }}">
  </head>
  <body>
    <div class="container">
      <i class="fa-solid fa-crown"></i>
      <h1>Under Construction</h1>
      <p>Sorry, this page is under construction.</p>
    </div>

    <div class="container-clock">
        <div class="clock-items">
          <h1 id="months">00</h1>
          <p>Month</p>
        </div>
        <div class="clock-items">
          <h1 id="days">00</h1>
          <p>Day</p>
        </div>
        <div class="clock-items">
          <h1 id="hours">00</h1>
          <p>Hour</p>
        </div>
        <div class="clock-items">
          <h1 id="minutes">00</h1>
          <p>Minute</p>
        </div>
        <div class="clock-items">
          <h1 id="seconds">00</h1>
          <p>Second</p>
        </div>
    </div>
    
    <script src="{{ asset('javaScript/under-construction.js') }}"></script>
  </body>
</html>