###> symfony/framework-bundle ###
/.env
/.env.local
/.env.dev.local
/.env.test.local
/.env.prod.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
/test
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

# Logs and cache
/var/log/*
/var/cache/*

# Symfony Encore
/public/build/
/node_modules/
/yarn-error.log
/npm-debug.log
yarn.lock
package-lock.json

# IDE files
/.idea/
/*.iml
/.vscode/

# Composer
/vendor/

# Backup files
*.bak
*.backup
*.swp
*.swo
*.old
*.orig

# Other
.DS_Store
Thumbs.db